<div class="container-fluid">
  <div class="col-md-2">

  </div>

  <div class="col-md-8">
    <div class="container-fluid">
      Information about School
    </div>
  </div>

  <div class="col-md-2">

  </div>
</div>
